<!-- steps: if no filter -> (1) selected harbours, (2) harbours max year,
(3) A (and/or 4) all sub fam, (5) tot flux (or exp + imp) [, (6) term, (7) pol_pod] -->

<div class="row">

<!--   <form action="/" method="get">
    <label for="name"> Port: </label>
    <select name="name" id="name">
      <#% Harbour.all.each do |f| %>
        <option value="" selected disabled hidden>Choisir le port</option>
        <option value="<%#=f.name%>"> <%#=f.name.capitalize%>
        </option>
      <%# end %>
    </select>
    <input type="submit">
  </form> -->

  <p class="mb0 mt-">Filtre par port:</p>
  <select id="select2_harbours", multiple=true, style="width: 500px">
    <% @harbours.map do |h| %>
      <option value="<%= h.name %>"><%= h.name %></option>
    <% end %>
  </select>

  <p class="mb0 mt-">Filtre par year:</p>
  <select id="select2_years", multiple=true, style="width: 500px">
    <!-- TO DO: variable to move into harbour controller -->
    <% Movement::ALL_YEARS.map do |y| %>
      <option value="<%= y %>"><%= y %></option>
    <% end %>
  </select>

<!--   <%# @harbours.map do |h| %>
    <li><%#= h.totvol_filter(params) %></li>
  <%# end %> -->

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-geojson="<%= @geojson.to_json %>"
    class="mt-"
  ></div>

</div>
