<!-- filters: (1)harb, (2)year, (3)flow, (4)fam, (5)subfam [+ (6)term, (7)pol_pod] -->

<div class='container ml0 mr0'>
  <div class="row">
    <div class="col-xs-12 col-sm-3 mt-">
      <div class="select2-menu-container" id="map_filters">

        <!-- Select2 options -->
        <p class="filter-title"><%= t('.harbour_filter')%></p> <!-- harbours -->
        <select id="select2_harbours", multiple=true, class="multiple-filter">
          <% @harbours.map do |name| %>
            <option value="<%= name %>"><%= name %></option>
          <% end %>
        </select>

        <p class="filter-title"><%= t('.year_filter')%></p> <!-- years -->
        <select id="select2_years", class="single-filter">
          <!--, multiple=true, class="multiple-filter"> -->
          <% @years.map do |y| %>
            <option value="<%= y %>"><%= y %></option>
          <% end %>
        </select>
        <!-- used in map_filters.js -->
        <%= content_tag :div, id: "temp_years", data: {temp: @years.max} do %>
        <% end %>

        <p class="filter-title"><%= t('.flow_filter')%></p> <!-- flows -->
        <select id="select2_flows", class="single-filter">
          <% @flows.map do |fl| %>
            <option value="<%= fl %>"><%= t("activerecord.attributes.type.flow.#{fl}") %></option>
          <% end %>
        </select>

        <hr class="mt mb0">
        <p class="filter-title"><%= t('.family_filter')%></p> <!-- families -->
        <select id="select2_families", class="single-filter">
          <% @families.map do |f| %>
            <option value="<%= f[:code] %>"><%= f[:label].capitalize %></option>
          <% end %>
        </select>

        <p class="filter-title"><%= t('.subfamily1_filter')%></p> <!-- subfamilies1 -->
        <select id="select2_subfamilies1", multiple=true, class="multiple-filter">
          <% @subfamilies1.map %>
          <!-- iteration not needed anymore due to loadSubfamilies1 function -->
          <!-- <%# @subfamilies1.map do |sf| %> -->
            <!-- <option value="<%#= sf[:code] %>"><%#= "#{sf[:code].upcase} - #{sf[:label].capitalize}" %></option> -->
          <%# end %>
        </select>
        <!-- used for testing in index.js.erb -->
        <%#= content_tag :div, id: "temp_subfamilies1", data: {temp: @subfamilies1} do %>
        <%# end %>

        <p class="filter-title"><%= t('.subfamily2_filter')%></p> <!-- subfamilies2 -->
        <select id="select2_subfamilies2", multiple=true, class="multiple-filter">
          <% @subfamilies2.map %>
        </select>

        <p class="filter-title"><%= t('.subfamily3_filter')%></p> <!-- subfamilies3 -->
        <select id="select2_subfamilies3", multiple=true, class="multiple-filter">
          <% @subfamilies3.map %>
        </select>

      </div>
    </div>

  <!--   <%# @harbours.map do |h| %>
      <li><%#= h.totvol_filter(params) %></li>
    <%# end %> -->

  <!-- Map -->

    <div class="col-xs-12 col-sm-9 mt-">
      <div class="map-container">
        <div id="map" data-geojson="[]"></div>
        <p id="legend" class="label label-primary"></p>
      </div>
    </div>
  </div>
</div>
