<!-- steps: if no filter -> (1) selected harbours, (2) harbours max year,
(3) A (and/or 4) all sub fam, (5) tot flux (or exp + imp) [, (6) pol_pod, (7) term] -->

<div class="row">

<!-- Select2 fields -->
  <p class="mb0 mt-">Filtre par port:</p> <!-- harbours -->
  <select id="select2_harbours", multiple=true, style="width: 500px">
    <% @harbours.map do |h| %>
      <option value="<%= h.name %>"><%= h.name %></option>
    <% end %>
  </select>

  <p class="mb0 mt-">Filtre par année:</p> <!-- years -->
  <select id="select2_years", multiple=true, style="width: 500px">
    <!-- TO DO: variable to move into harbour controller -->
    <% @years.map do |y| %>
      <option value="<%= y %>"><%= y %></option>
    <% end %>
  </select>


<!--   <%# @harbours.map do |h| %>
    <li><%#= h.totvol_filter(params) %></li>
  <%# end %> -->

<!-- Map -->
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-geojson="<%= @geojson.to_json %>"
    class="mt-"
  ></div>

</div>
