<!-- filters: (1)harb, (2)year, (3)fam, (4)subfam, (5)flow [+ (6)term, (7)pol_pod] -->

<div class="row">

<!-- Select2 fields -->
  <p class="mb0 mt-"><%= t('.harbour_filter')%></p> <!-- harbours -->
  <select id="select2_harbours", multiple=true, style="width: 500px">
    <% @harbours.map do |h| %>
      <option value="<%= h.name %>"><%= h.name %></option>
    <% end %>
  </select>

  <p class="mb0 mt-"><%= t('.year_filter')%></p> <!-- years -->
  <select id="select2_years", multiple=true, style="width: 500px">
    <% @years.map do |y| %>
      <option value="<%= y %>"><%= y %></option>
    <% end %>
  </select>

  <p class="mb0 mt-"><%= t('.family_filter')%></p> <!-- families -->
  <select id="select2_families", style="width: 500px">
    <% @families.map do |f| %>
      <option value="<%= f %>"><%= f.upcase %></option>
    <% end %>
  </select>

  <p class="mb0 mt-"><%= t('.flow_filter')%></p> <!-- flows -->
  <select id="select2_flows", style="width: 500px">
    <% @flows.map do |fl| %>
      <option value="<%= fl %>"><%= t("ar.attributes.type.flow.#{fl}") %></option>
    <% end %>
  </select>

<!--   <%# @harbours.map do |h| %>
    <li><%#= h.totvol_filter(params) %></li>
  <%# end %> -->

<!-- Map -->
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-geojson="<%= @geojson.to_json %>"
    class="mt-"
  ></div>

</div>
